Ignore/

matlab/
07-BSDS/
06-Segmentation/
05-Textons/
*.pptx

*.ppt

*.odt
BSR/

*.tgz

*solution*
solution/
_data/

*.pyc
.ipynb
*
clone/
html/
_html/
www
08-PHOW/data
vlfeat
*/matlab/data
*/python/data
*.csv
